@import url("https://fonts.googleapis.com/css2?family=League+Spartan&family=Ubuntu:wght@300&display=swap"); /* font-family: 'Ubuntu', sans-serif; */
/* font-family: 'League Spartan', sans-serif; */

body {
    background-color: #e7e7e7;
    height: 100vh;
    min-height: 100vh;
}

#dataDashboardV2 {
    font-family: "Ubuntu", sans-serif;
}

#formNavbar {
    height: 44px;
    background-color: white;
    width: 100vw;
}

/* .formNavbar-container {
    float: right;
    height: 44px;
    display: flex;
    align-items: center;
} */

.formLabel {
    font-size: 14px;
    font-weight: 500;
    padding-right: 5px;
}

.formNavbar-container {
    float: left;
    height: 44px;
    display: flex;
    align-items: center;
}

.wilayahApa {
    padding: 12px;
    height: 44px;
    width: 994px;
    font-size: 25px;
    display: flex;
    align-items: center;
    float: left;
}

.selectOption {
    margin-right: 7px;
    height: 31px;
    width: 180px;
}

#dataDashboard-container {
    padding-right: 12px;
    padding-left: 12px;
    margin-top: 11px;
    margin-bottom: 11px;
}

.mapsContent-container {
    width: 1056px;
    height: 449px;
}

.row2 {
    margin-top: 10px;
}

.row2-leftSection {
    width: 540px;
}

.floating {
    float: left;
}

.row2-leftSection-right {
    margin-left: 10px;
}

.row2-leftSection-row2 {
    margin-top: 10px;
}

.row2-middleSection {
    width: 516px;
}

.row1-rightside {
    width: 471px;
    position: relative;
    left: 11px;
    margin-left: -10px;
}

.row2-rightSection {
    width: 471px;
    position: relative;
    left: 11px;
    margin-left: -10px;
}
